
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins';
}

html {
  font-size: 62.5%;
}

.restrict {
  margin: auto;
  max-width: 80%;

}

.header-actionPlan {
  background-image: url('https://stephen-1973.github.io/staticImages/actionPlan.jpg');
  background-position: center;
  height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3rem;
  text-shadow: 0px 0px 10px rgba(8, 0, 0, 1);
  background-size: cover;
  

}

.header-actionPlan_button {
  padding: 1rem 3rem;
  border-radius: 2.9rem;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all .3s;
}

.header-actionPlan_button:hover {
  transform: translate(0,-2px);

}

.header-actionPlan_button:active {
    transform: translate(0,2px);

}

.main-actionPlan {
  max-width: 80%;
  margin: auto;
  margin-top: 4rem;

}
.main-actionPlan_about {
  text-align: center;
}

.main-actionPlan_about h2 {
  font-size: 2.3rem;
}
p {
  text-align: left;
  font-size: 1.8rem;
  font-family: 'Poppins';
}

.main-actionPlan-h4 {
  text-align: left !important;
  width: 100%;
}
.main-actionPlan-h4 h4 {
  font-size: 2rem;
}


.main-actionPlan-h6 {
  font-size: 1.9rem;
  width: 100%;
  text-align: left;
}

.footer-actionPlan {
  max-width: 80%;
  margin: auto;
}

.nextBlog {
  width: 100%;
  text-align: center;
}
.nextBlog h4 {
  font-size: 3rem;
}

