@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins';
  word-spacing: 0.2rem;
}


.header-docker {
  background-image: url('https://stephen-1973.github.io/staticImages/docker.jpeg');
  background-position: center;
  height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3rem;
  background-size: cover;


}

.header-docker_button {
  padding: 1rem 3rem;
  border-radius: 2.9rem;
  background-color: white;
  border: none;
  cursor: pointer;

}

.header-docker_button:hover {
  transform: translate(0,-2px);
  transition: all .2s;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: black;
}

.restrict {
  margin: auto;
  max-width: 80%;

}
.about_docker {
  width: 100%;
  text-align: center;
}
.about_docker-h2 {
  margin-top: 3rem;
  font-size: 2.4rem;
  font-weight: 100;
}

p {
  font-family: inherit;
  text-align: left;
  font-size: 1.7rem;
  max-width: 80%;
  margin: auto;
}

.about_docker-p-2 {
  margin-top: 2rem;
}
.main_docker-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_docker-button {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #55c57a;
  color: #55c57a;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  transition: all .3s;
}

.main_docker-button:hover {
  padding: 1rem;
  background-color: #55c57a;
  color: white;
  transform: translate(0,-2px);
}
.main_docker-button a {
  color: #55c57a;
}

.main_docker-button:hover a {
  color: white;
}

.sign-up {
  width: 100%;
  text-align: center;
}

.sign-up_h2 {
  font-size: 2.5rem;
}
.sign-up_link {
  cursor: pointer;
}

.sign-up_link:hover {
  text-decoration: underline;
}

p {
  letter-spacing: 0.01rem;
}

.installation {
  margin-top: 3rem;
}
.docker_install-div {
  width: 100%;
  text-align: center;
}
.install-link:hover {
  text-decoration: underline;

}


.nextBlog-div {
  width: 100%;
  text-align: center;
}

.nextBlog-heading {
  max-width: 80%;
  margin: auto;
  font-size: 2rem;
}

.footer-div {
  width: 100%;
  text-align: center;
}

.footer-div h4 {
  font-size: 3rem;
}
