@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.restrict {
  margin: auto;
  max-width: 80%;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}



.header-kubSkaff {
  background-image: url('https://codding.in/staticImages/kub-skaff.png');
  background-size: cover;
  background-position: bottom;
  height: 16vh;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  flex-direction: column;
  color: white;
  max-width: 80%;
  margin: auto;
  text-shadow: 0px 0px 10px rgba(8, 0, 0, 1);
}

.header-kubSkaff_btn {
  padding: 1rem 3rem;
  border-radius: 2.9rem;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  transition: all .2s;


}
.header-kubSkaff_btn:hover {
  transform: translate(0,-2px);
}
.header-kubSkaff_btn:active {
  transform: translate(0,2px);
}

.header-kubSkaff_link {
  text-transform: uppercase;
}

a {
  font-family: inherit;
  color: black;
  text-decoration: none;
}

.main-kubSkaff {
  max-width: 80%;
  margin: auto;
  margin-top: 4rem;


}

.main-kubSkaff_about {
  text-align: center;
}
p {
  text-align: left;
  font-size: 1.8rem;
  font-family: 'Poppins';
}
.main-kubSkaff_h2 {
  font-family: 'Poppins';
  font-size: 3rem;

}

.code {
  background-color: rgb(233, 233, 233);
  height: fit-content;
  width: fit-content;
  font-size: 1.5rem;

}
.main-kubSkaff_h3 {
  font-size: 2rem;
}
.footer {
  max-width: 80%;
  margin: auto;
}

.nextBlog {
  width: 100%;
  text-align: center;
}
.nextBlog h4 {
  font-size: 3rem;
}
